# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
fmriprep.egg-info/**/*
fmriprep.egg-info
.eggs/**/*
.eggs
.maint
.maint/**/*
Makefile

# housekeeping tools
get_version.py
update_changes.sh
tox.ini

# pip installs
src/**/*
src/

# git
.gitignore
.git/**/*
.git
.mailmap

# CI, etc.
.circleci
.circleci/**/*
.github
.github/**/*
.zenodo.json
.travis.yml
.readthedocs.yml
.versions.json
CONTRIBUTING.md

# other
.DS_Store
work/**/*
work
out/**/*
out/
